---
---

@font-face {
  font-family: "SignPainter";
  src: url("/fonts/SignPainter HouseScript.ttf") format("truetype");
  font-display: swap;
}

@keyframes spinner-loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  background: url("/img/hr.png") no-repeat 0 44px;
  color: #b62041;
  font-family: "SignPainter";
  font-size: 55px;
  font-weight: 100;
  margin-bottom: 10px;
}

* {
  margin: 0px;
  padding: 0px;
}

.clear {
  clear: both;
  height: 0px;
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url("/img/body_bg.jpg");
  background-repeat: repeat;
}

h2 {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-weight: normal;
  color: #684913;
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
}

p {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 19px;
  color: #6d5647;
}

a {
  outline: none;

  &:link {
    color: #558268;
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
    color: #b61e41;
  }

  &:hover {
    text-decoration: underline;
    color: #b61e41;
  }

  &:active {
    text-decoration: none;
    color: #b61e41;
  }
}

#logo {
  top: -40px;
  left: -34px;
  width: 262px;
  z-index: 100;
  position: relative;
  height: 160px;
  visibility: visible;

  a {
    display: block;
    width: 262px;
    height: 160px;
    text-indent: -999999px;
    background-image: url(/img/logo.gif);
    background-position: top left;

    &:hover {
      background-image: url(/img/logo.gif);
      background-position: bottom left;
    }
  }
}

#nav {
  background-image: url(/img/nav_bg.jpg);
  background-repeat: repeat-x;
  width: 950px;
  margin: 0 auto;
  height: 65px;

  ul {
    position: relative;
    height: 65px;
    top: -160px;
    left: 230px;
    z-index: 101;
    width: 715px;
  }

  li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 19px 0;
    float: left;

    &:hover,
    &.active {
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='99.024' height='52.218' viewBox='0 0 26.2 13.816'><ellipse cx='17.6' cy='27.785' rx='13.148' ry='6.817' transform='matrix(.995049 -.099384 .099384 .995049 -7.174656 -18.990476)' fill='%23fbefe9' fill-rule='evenodd'/></svg>") no-repeat center 5px;
    }

    a {
      color: #d3968b;
      display: block;
      font-family: "SignPainter";
      font-size: 28px;
      height: 40px;
      margin: 0 8px;
      text-align: center;
      text-decoration: none;
      transform: scale(1, 1.3);
      width: 100px;
    }
  }
}

#page {
  margin: 60px auto 0px auto;
  padding: 0;
  width: 1000px;
  background-image: url(/img/basic_page_bg.jpg);
  background-repeat: repeat-y;
  background-position: top center;
}

.main_body {
  padding: 0px 55px 0 0px;
  *padding: 60px 55px 0 0px;
  _padding: 0px 55px 0 0px;
  *margin-top: 80px;
  _margin-top: 0px;
}

#col_left {
  width: 255px;
  float: left;
  height: 100%;
  margin-top: -70px;
  padding-left: 70px;

  ul {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    width: 190px;

    li {
      list-style: none;
      border-bottom-color: #ffcccc;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      margin-top: 6px;
      padding-bottom: 4px;

      a {
        color: #352012;
        font-weight: bold;

        &:hover {
          text-decoration: none;
          color: #b61e41;
        }
      }
    }
  }
}

#col_right {
  width: 585px;
  float: right;
  height: 100%;
  margin-top: -70px;
}

#col_right p {
  padding-bottom: 24px;
  width: 480px;
}

#col_right h2 {
  padding-bottom: 6px;
  width: 480px;
}

.blog #col_right h1 {
  color: #684913;
}

.blog #col_right h2 {
  font-size: 28px;
  line-height: 1.1em;
  padding-bottom: 5px;
  font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}

#col_right ul {
  padding-bottom: 12px;
  margin-left: 24px;
}

#col_right ul li {
  width: 480px;
  color: #6d5647;
  list-style-image: url(/img/star.gif);
  margin-bottom: 8px;
}

#header {
  margin: 0 auto;
  padding: 0;
  width: 1000px;
}

p img {
  padding: 0;
  max-width: 100%;
}

hr {
  display: none;
}

a img {
  border: none;
}

#footer {
  padding: 0;
  margin: 0 auto;
  width: 1000px;
  clear: both;
  position: relative;

  h2 {
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 25px;
    line-height: 27px;
    color: #ce393a;
    margin: 0px 0px 15px 0px;
    padding: 0px;
  }

  p {
    font-family: Georgia;
    font-size: 12px;
    line-height: 16px;
    color: #50290b;
  }

  ul {
    font-family: Georgia;
    font-size: 12px;
    line-height: 24px;
    color: #50290b;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #558268;

        &:hover {
          text-decoration: underline;
          color: #b61e41;
        }
      }
    }
  }
}

#footer_colums {
  position: absolute;
  top: 60px;
  left: 35px;
}

#footer_1 {
  width: 185px;
  height: 230px;
  float: left;
  margin-right: 55px;
}

#footer_2 {
  width: 185px;
  height: 230px;
  float: left;
  margin-right: 60px;
}

#footer_3 {
  width: 185px;
  height: 230px;
  float: left;
  margin-right: 60px;
}

#footer_4 {
  width: 185px;
  height: 230px;
  float: left;
}

#copyright {
  width: 950px;
  margin: 50px auto 0px auto;
  height: 100px;
  font-family: "Verdana", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #50290b;
}

#copyright span {
  float: left;
}

#home {
  height: 550px;
  background-image: url(../img/main_bg.gif);
  background-position: top center;
  background-repeat: repeat-y;
  margin: 0px;
  padding: 0px;
}

#welcome_bg {
  background: url('../img/welcome.png') no-repeat center 75px;
  min-height: 826px;
}

.text-wrapper-outer {
  width: 500px;
  height: 226px;
  position: relative;
  padding: 300px 0 0 90px;
}

.text-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  color: white;

  p {
    height: 100%;
    font-size: 20px;
    line-height: 1.25;
    padding: 0 0 10px;
  }

  &::before {
    content: "";
    width: 50%;
    height: 100%;
    float: left;
    shape-outside: polygon(
      0 0,
      0.8% 61px,
      1.6% 36.09%,
      4.2% 46.95%,
      10.40% 59.59%,
      44px 70.79%,
      27.2% 81.08%,
      42.2% 91.11%,
      64.8% 97.98%,
      98% 100%,
      0px 100%
    );
    shape-margin: 20px;
  }

  .text::before {
    content: "";
    width: 50%;
    height: 225px;
    float: right;
    shape-outside: polygon(
      248px -1px,
      92.8% 41px,
      84.80% 36.97%,
      73% 53.59%,
      58.8% 68%,
      105px 80.52%,
      25.6% 90.81%,
      9.4% 95.98%,
      -5.2% 98.86%,
      249px 100%
    );
    shape-margin: 20px;
  }
}
