  <div id="footer">
    <img src="/img/footer.png" alt="footer background three hanging signs" width="1000" height="315" />
    <div id="footer_colums">
      <div id="footer_1">
        <h2>About Boutique for a Week</h2>
        <ul>
          <li><a href='/about/who-we-are/'>Who We Are</a></li>
          <li><a href='/about/'>About Us</a></li>
          <li><a href='/about/our-sponsors/'>Sponsors</a></p>
          </li>
          <p></p>
          <li><a href='/about/contact-us/'>Contact Us</a></p>
          </li>
      </div>
      <div id="footer_2">
        <h2>Register as a...</h2>
        <p></p>
        <ul>
          <li><a href='https://www.mysalemanager.net/reg_start.aspx?partnercode=BFAW'>Returning Consignor</a></li>
          <li><a href='https://www.mysalemanager.net/reg_start.aspx?partnercode=BFAW&amp;type=new'>New Consignor
              Registration</a></li>
          <li><a href='https://www.mysalemanager.net/wrk_start.aspx?partnercode=BFAW' target='_self'>Worker
              Registration</a></li>
          <p></p>
          <li><a href='https://www.mysalemanager.net/itm_start.aspx?partnercode=BFAW' target='_self'>Item Entry and Tag
              Printing</a></p>
          </li>
          <p></p>
          <li><a href='https://www.mysalemanager.net/mom_start.aspx?partnercode=BFAW' target='_self'>New Moms Presale
              Registration</a></li>
          <p></p>
          <li><a href='https://www.mysalemanager.net/drp_start.aspx?partnercode=BFAW' target='_blank'>Schedule Drop Off
              Appointment</a></li>
      </div>
      <div id="footer_3">
        <h2>Tell a Friend</h2>
        <p>Friends telling friends is our best way of spreading the word about this great sale! </p>
        <!-- NAVT v1.0.34 -->
        <ul class='menu footer3 safari v en-US'>
          <li class='erow footer3_item page_item tell-a-friend-page pagetab'><a
              href='/about/tell-a-friend/' title='Tell a Friend' class='navt_plink'>Tell a
              Friend</a></li>
        </ul>
        <!--/NAVT-->
        <ul>
          <li>
            <a href='/pdf/BFAW-Full.pdf' target='_self'>Full Page Flyers</a>
          </li>
          <li>
            <a href='/pdf/BFAW-4.pdf' target='_self'>Quarter Page Flyers</a>
          </li>
        </ul>
      </div>
      <div id="footer_4">
        <h2>Join our Mailing List</h2>
        <p>Preferred Shopping Privileges are extended to our Consignors, Volunteers and Expecting Moms!</p>
        <ul>
          <li>
            <p style="margin-top:8px;">
              <a href="/about/join-our-mailing-list/" title="Join our Mailing List to be notified of future sales!">Join our Mailing List to be notified of future sales!</a>
            </p>
            <p>
              <a href="http://www.facebook.com/BoutiqueForAWeek">
                <img src="/img/facebook.png" alt="Boutique For A Week - Facebook" />
              </a>
              <a href="http://twitter.com/Boutique4AWeek">
                <img src="/img/twitter.png" alt="Boutique For A Week - Twitter" />
              </a>
              <a href="https://www.instagram.com/boutiqueforaweek/?ref=badge" class="ig-b- ig-b-24">
                <img src="//badges.instagram.com/static/images/ig-badge-24.png" alt="Instagram" />
              </a>
            </p>
            </li>
          </ul>
      </div>
    </div>
  </div>
  <div id="copyright">
    <span style="color:#558268;">&copy; 2021 Boutique for a Week</span>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script type='text/javascript' id='mimi-main-js-extra'>
    /* <![CDATA[ */
    var MadMimi = {
      "thankyou": "Thank you for signing up!",
      "thankyou_suppressed": "Thank you for signing up! Please check your email to confirm your subscription.",
      "oops": "Oops! There was a problem. Please try again.",
      "fix": "There was a problem. Please fill all required fields."
    };
    /* ]]> */
  </script>
  <script type='text/javascript' src='/js/mimi.min.js' id='mimi-main-js'></script>
  <script type='text/javascript'>
    var popup = document.getElementById('pum-5213');
    const popupCookie = document.cookie
      .split('; ')
      .find(row => row.startsWith('pum-5213='));

    if (!popupCookie) {
      // Show popup.
      popup.classList.add('show');
    }

    popup.addEventListener('click', function(e) {
      if (e.target.classList.contains('pum-close')) {
        // Hide popup and set cookie.
        popup.classList.remove('show');
        document.cookie = 'pum-5213=true';
      }
    }, false);

  </script>
