<div id="footer" class="container">
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="sign">
        <h2>About Boutique for a Week</h2>
        <ul>
          <li><a href="/about/who-we-are/">Who We Are</a></li>
          <li><a href="/about/">About Us</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/about/our-sponsors/">Sponsors</a></li>
          <li><a href="/about/contact-us/">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="sign">
        {% assign registration_open = "01_before,02_before" | split: "," %}
        {% assign vol_registration_open = "01_before,02_before,03_before,04_before" | split: "," %}
        {% if vol_registration_open contains site.sale_stage %}
        <h2>Register as a...</h2>
        <ul>
          {% if registration_open contains site.sale_stage %}
          <li><a rel="noopener" href="https://www.mysalemanager.net/reg_start.aspx?partnercode=BFAW">Returning Consignor</a></li>
          <li><a rel="noopener" href="https://www.mysalemanager.net/reg_start.aspx?partnercode=BFAW&amp;type=new">New Consignor Registration</a></li>
          {% endif %}
          {% if site.sale_stage == "03_before" %}
          <li><a rel="noopener" href="https://www.mysalemanager.net/reg_start.aspx?partnercode=BFAW">Returning Restocking Consignor</a></li>
          <li><a rel="noopener" href="https://www.mysalemanager.net/reg_start.aspx?partnercode=BFAW&amp;type=new">New Restocking Consignor Registration</a></li>
          {% endif %}
          <li><a rel="noopener" href="https://www.mysalemanager.net/wrk_start.aspx?partnercode=BFAW">Worker Registration</a></li>
          <li><a rel="noopener" href="https://www.mysalemanager.net/itm_start.aspx?partnercode=BFAW">Item Entry and Tag Printing</a></li>
          <li><a rel="noopener" href="https://www.mysalemanager.net/mom_start.aspx?partnercode=BFAW">New Moms Presale Registration</a></li>
          <li><a rel="noopener" href="https://www.mysalemanager.net/drp_start.aspx?partnercode=BFAW" target="_blank">Schedule Drop Off Appointment</a></li>
        </ul>
        {% else %}
        <h2>Registration Closed</h2>
        <ul>
          <li><a rel="noopener" href="https://www.mysalemanager.net/itm_start.aspx?partnercode=BFAW">Item Entry and Tag Printing</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="sign">
        <h2>Tell a Friend</h2>
        <p>Friends telling friends is our best way of spreading the word about this great sale! </p>
        <ul class="menu footer3 safari v en-US">
          <li class="erow footer3_item page_item tell-a-friend-page pagetab"><a href="/about/tell-a-friend/" title="Tell a Friend" class="navt_plink">Tell a Friend</a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="sign">
        <h2>Join our Mailing List</h2>
        <p>Preferred Shopping Privileges are extended to our Consignors, Volunteers and Expecting Moms!</p>
        <ul>
          <li>
            <p style="margin-top:8px;">
              <a href="/about/join-our-mailing-list/" title="Join our Mailing List to be notified of future sales!">Join our Mailing List to be notified of future sales!</a>
            </p>
            <p>
              <a href="https://www.facebook.com/BoutiqueForAWeek">
                <img src="/img/facebook.png" alt="Boutique For A Week - Facebook" />
              </a>
              <a href="https://twitter.com/Boutique4AWeek">
                <img src="/img/twitter.png" alt="Boutique For A Week - Twitter" />
              </a>
              <a href="https://www.instagram.com/boutiqueforaweek/?ref=badge">
                <img src="/img/instagram.png" alt="Instagram" style="height:23px" />
              </a>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="copyright" class="container mt-3">
  <p>&copy; {{ site.time | date: '%Y' }} Boutique for a Week</p>
</div>
<script>
  var popup = document.getElementById('newsletter-signup');

  if (popup) {
    var myModal = new bootstrap.Modal(popup, {});

    const popupCookie = document.cookie
      .split('; ')
      .find(row => row.startsWith('newsletter='));

    if (!popupCookie) {
      // Show popup.
      myModal.toggle();
    }

    // Hide popup and set cookie.
    popup.addEventListener('hidden.bs.modal', function(e) {
        document.cookie = 'newsletter=true';
      });
  }

  window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
  window.LOCALE = 'en';
  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";

  window.REQUIRED_ERROR_MESSAGE = "This field cannot be left blank. ";

  window.GENERIC_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";

  window.translation = {
    common: {
      selectedList: '{quantity} list selected',
      selectedLists: '{quantity} lists selected'
    }
  };

  var AUTOHIDE = Boolean(0);

  // Disable menu dropdown for desktop.
  if (window.matchMedia('(min-width: 992px)').matches) {
    Array.from(document.getElementsByClassName('nav-link'))
      //.map(el => el.parentElement.classList.remove('dropdown'));
      .map(el => {
        el.removeAttribute('data-bs-toggle');
        el.parentElement.classList.remove('active');
        el.nextElementSibling.classList.remove('show');
      });
  }

  // Enable top level links for mobile.
  if (window.matchMedia('(max-width: 992px)').matches) {
    document.querySelectorAll('.register a, .sponsors a')
      .forEach(elem => {
        elem.removeAttribute('data-bs-toggle');
        elem.parentElement.classList.remove('active');
        elem.nextElementSibling.classList.remove('show');
      });
  }
</script>
<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
