  <div id="footer">
    <img src="/img/footer.png" alt="footer background three hanging signs" width="1000" height="315" />
    <div id="footer_colums">
      <div id="footer_1">
        <h2>About Boutique for a Week</h2>
        <ul>
          <li><a href="/about/who-we-are/">Who We Are</a></li>
          <li><a href="/about/">About Us</a></li>
          <li><a href="/about/our-sponsors/">Sponsors</a></li>
          <li><a href="/about/contact-us/">Contact Us</a></li>
        </ul>
      </div>
      <div id="footer_2">
        <h2>Register as a...</h2>
        <ul>
          <li><a rel="noopener" href="https://www.mysalemanager.net/reg_start.aspx?partnercode=BFAW">Returning Consignor</a></li>
          <li><a rel="noopener" href="https://www.mysalemanager.net/reg_start.aspx?partnercode=BFAW&amp;type=new">New Consignor Registration</a></li>
          <li><a rel="noopener" href="https://www.mysalemanager.net/wrk_start.aspx?partnercode=BFAW">Worker Registration</a></li>
          <li><a rel="noopener" href="https://www.mysalemanager.net/itm_start.aspx?partnercode=BFAW">Item Entry and Tag Printing</a></li>
          <li><a rel="noopener" href="https://www.mysalemanager.net/mom_start.aspx?partnercode=BFAW">New Moms Presale Registration</a></li>
          <li><a rel="noopener" href="https://www.mysalemanager.net/drp_start.aspx?partnercode=BFAW" target="_blank">Schedule Drop Off Appointment</a></li>
        </ul>
      </div>
      <div id="footer_3">
        <h2>Tell a Friend</h2>
        <p>Friends telling friends is our best way of spreading the word about this great sale! </p>
        <ul class="menu footer3 safari v en-US">
          <li class="erow footer3_item page_item tell-a-friend-page pagetab"><a href="/about/tell-a-friend/" title="Tell a Friend" class="navt_plink">Tell a Friend</a></li>
        </ul>
      </div>
      <div id="footer_4">
        <h2>Join our Mailing List</h2>
        <p>Preferred Shopping Privileges are extended to our Consignors, Volunteers and Expecting Moms!</p>
        <ul>
          <li>
            <p style="margin-top:8px;">
              <a href="/about/join-our-mailing-list/" title="Join our Mailing List to be notified of future sales!">Join our Mailing List to be notified of future sales!</a>
            </p>
            <p>
              <a href="http://www.facebook.com/BoutiqueForAWeek">
                <img src="/img/facebook.png" alt="Boutique For A Week - Facebook" />
              </a>
              <a href="http://twitter.com/Boutique4AWeek">
                <img src="/img/twitter.png" alt="Boutique For A Week - Twitter" />
              </a>
              <a href="https://www.instagram.com/boutiqueforaweek/?ref=badge" class="ig-b- ig-b-24">
                <img src="//badges.instagram.com/static/images/ig-badge-24.png" alt="Instagram" />
              </a>
            </p>
            </li>
          </ul>
      </div>
    </div>
  </div>
  <div id="copyright">
    <span style="color:#558268;">&copy; 2021 Boutique for a Week</span>
  </div>
