  <title>{{ site.title }} &raquo; {{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="Voted Best Kids Consignment Sale in Central Florida" />
  <meta name="keywords" content="Orlando Kids Consignment Sale, Baby Consignment, baby, toys, infant" />
  <link rel="stylesheet" id="mimi-base-css" href="/css/mimi.min.css" type="text/css" media="all" />
  <link rel="stylesheet" id="popup-maker-site-css" href="/css/pum-site-styles.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
  <script type="application/ld+json" class="aioseop-schema">
    {
      "@context": "https://schema.org",
      "@graph": [{
        "@type": "Organization",
        "@id": "https://boutiqueforaweek.com/#organization",
        "url": "https://boutiqueforaweek.com/",
        "name": "Boutique For A Week",
        "sameAs": []
      }, {
        "@type": "WebSite",
        "@id": "https://boutiqueforaweek.com/#website",
        "url": "https://boutiqueforaweek.com/",
        "name": "Boutique For A Week",
        "publisher": {
          "@id": "https://boutiqueforaweek.com/#organization"
        }
      }, {
        "@type": "WebPage",
        "@id": "https://boutiqueforaweek.com#webpage",
        "url": "https://boutiqueforaweek.com",
        "inLanguage": "en-US",
        "name": "Boutique For A Week",
        "isPartOf": {
          "@id": "https://boutiqueforaweek.com/#website"
        },
        "description": "Voted BEST Kids Consignment Sale in Orlando. Consignors sell everything you need from baby to teen.",
        "datePublished": "2008-03-05T05:00:24-04:00",
        "dateModified": "2021-04-19T14:53:19-04:00",
        "about": {
          "@id": "https://boutiqueforaweek.com/#organization"
        }
      }, {
        "@type": "Event",
        "name": "Boutique for a Week - Fall 2021 Sale",
        "description": "{{ site.description }}",
        "location": {
          "@type": "Place",
          "name": "Metro Life Church",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "910 S Winter Park Dr",
            "addressLocality": "Casselberry",
            "postalCode": "32707",
            "addressRegion": "FL",
            "addressCountry": "US"
          },
          "url": "https://boutiqueforaweek.com/events/map-location/"
        },
        "startDate": "2021-08-15T16:00",
        "endDate": "2021-08-17T17:00",
        "url": "https://www.mysalemanager.net/reg_start.aspx?partnercode=BFAW&type=new",
        "image": "https://boutiqueforaweek.com/img/bfaw_final-logo-no-bg2.png"
      }]
    }
  </script>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YE0BVFQVDL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YE0BVFQVDL');
  </script>
  <style>
    #content ul li {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      line-height: normal;
    }

    .ig-b- {
      display: inline-block;
    }

    .ig-b- img {
      visibility: hidden;
    }

    .ig-b-:hover {
      background-position: 0 -60px;
    }

    .ig-b-:active {
      background-position: 0 -120px;
    }

    .ig-b-24 {
      width: 24px;
      height: 24px;
      background: url(//badges.instagram.com/static/images/ig-badge-sprite-24.png) no-repeat 0 0;
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2 / 1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
      .ig-b-24 {
        background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-24@2x.png);
        background-size: 60px 178px;
      }
    }
  </style>
  <!--[if lt IE 7.]>
<script defer type="text/javascript" src="/wp-content/themes/bfaw/pngfix.js"></script>
<![endif]-->
