  <title>{{ site.title }} &raquo; {{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Voted Best Kids Consignment Sale in Central Florida" />
  <meta name="keywords" content="Orlando Kids Consignment Sale, Baby Consignment, baby, toys, infant" />
  <link rel="sitemap" type="application/xml" title="Boutique for a Week Sitemap" href="/sitemap.xml" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
  <script type="application/ld+json" class="aioseop-schema">
    {
      "@context": "https://schema.org",
      "@graph": [{
        "@type": "Organization",
        "@id": "https://boutiqueforaweek.com/#organization",
        "url": "https://boutiqueforaweek.com/",
        "name": "Boutique For A Week",
        "sameAs": []
      }, {
        "@type": "WebSite",
        "@id": "https://boutiqueforaweek.com/#website",
        "url": "https://boutiqueforaweek.com/",
        "name": "Boutique For A Week",
        "publisher": {
          "@id": "https://boutiqueforaweek.com/#organization"
        }
      }, {
        "@type": "WebPage",
        "@id": "https://boutiqueforaweek.com#webpage",
        "url": "https://boutiqueforaweek.com",
        "inLanguage": "en-US",
        "name": "Boutique For A Week",
        "isPartOf": {
          "@id": "https://boutiqueforaweek.com/#website"
        },
        "description": "Voted BEST Kids Consignment Sale in Orlando. Consignors sell everything you need from baby to teen.",
        "datePublished": "2008-03-05T05:00:24-04:00",
        "dateModified": "2021-04-19T14:53:19-04:00",
        "about": {
          "@id": "https://boutiqueforaweek.com/#organization"
        }
      }, {
        "@type": "Event",
        "name": "Boutique for a Week - {{ site.data.sale.season }} Sale",
        "description": "{{ site.description }}",
        "location": {
          "@type": "Place",
          "name": "Metro Life Church",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "910 S Winter Park Dr",
            "addressLocality": "Casselberry",
            "postalCode": "32707",
            "addressRegion": "FL",
            "addressCountry": "US"
          },
          "url": "https://boutiqueforaweek.com/events/map-location/"
        },
        "startDate": "2021-08-15T16:00",
        "endDate": "2021-08-17T17:00",
        "url": "https://www.mysalemanager.net/reg_start.aspx?partnercode=BFAW&type=new",
        "image": "https://boutiqueforaweek.com/img/bfaw-logo.png"
      }]
    }
  </script>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
