  <title>{{ site.title }} &raquo; {{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Voted Best Kids Consignment Sale in Central Florida" />
  <meta name="keywords" content="Orlando Kids Consignment Sale, Baby Consignment, baby, toys, infant" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'none';object-src 'none'">
  <link rel="sitemap" type="application/xml" title="Boutique for a Week Sitemap" href="/sitemap.xml" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
  <link rel="preload" href="/fonts/SignPainter HouseScript.ttf" as="font" type="font/ttf" crossorigin>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <script type="application/ld+json" class="aioseop-schema">
    {
      "@context": "https://schema.org",
      "@graph": [{
        "@type": "Organization",
        "@id": "https://boutiqueforaweek.com/#organization",
        "url": "https://boutiqueforaweek.com/",
        "name": "Boutique For A Week",
        "sameAs": []
      }, {
        "@type": "WebSite",
        "@id": "https://boutiqueforaweek.com/#website",
        "url": "https://boutiqueforaweek.com/",
        "name": "Boutique For A Week",
        "publisher": {
          "@id": "https://boutiqueforaweek.com/#organization"
        }
      }, {
        "@type": "WebPage",
        "@id": "https://boutiqueforaweek.com#webpage",
        "url": "https://boutiqueforaweek.com",
        "inLanguage": "en-US",
        "name": "Boutique For A Week",
        "isPartOf": {
          "@id": "https://boutiqueforaweek.com/#website"
        },
        "description": "Voted BEST Kids Consignment Sale in Orlando. Consignors sell everything you need from baby to teen.",
        "datePublished": "2008-03-05T05:00:24-04:00",
        "dateModified": "{{ "now" | date: "%Y-%m-%dT%H:%M:%S-04:00" }}",
        "about": {
          "@id": "https://boutiqueforaweek.com/#organization"
        }
      }, {
        "@type": "Event",
        "name": "Boutique for a Week - {{ site.dates.season }} Sale",
        "description": "{{ site.description }}",
        "location": {
          "@type": "Place",
          "name": "Metro Life Church",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "910 S Winter Park Dr",
            "addressLocality": "Casselberry",
            "postalCode": "32707",
            "addressRegion": "FL",
            "addressCountry": "US"
          },
          "url": "https://boutiqueforaweek.com/events/map-location/"
        },
        "startDate": "{{ site.schedule.sale_start }}",
        "endDate": "{{ site.schedule.sale_end }}",
        "url": "https://www.mysalemanager.net/reg_start.aspx?partnercode=BFAW&type=new",
        "image": "https://boutiqueforaweek.com/img/bfaw-logo.png"
      }]
    }
  </script>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YE0BVFQVDL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YE0BVFQVDL');
  </script>
