---
title: Blogs
description: "Tips, stories and updates from Boutique for a Week. Consignment advice, parenting tips and news from Orlando's best children's consignment sale."
layout: blog
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
permalink: "blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
---

{% for post in posts %}
<h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
<p>{{ post.templateContent | strip_html | truncatewords: 35 }}</p>
{% endfor %}

{% if pagination.hrefs.size > 1 %}
<ul>
  {% if pagination.href.previous %}
  <li>
    <a href="{{ pagination.href.previous }}">Newer</a>
  </li>
  {% endif %}
  {% if pagination.href.next %}
  <li>
    <a href="{{ pagination.href.next }}">Older</a>
  </li>
  {% endif %}
</ul>
{% endif %}
