---
title: "Welcome"
permalink: /
layout:
---
{% assign sale_start = site.schedule.sale_start | date: "%B %d" %}
{% assign sale_end = site.schedule.sale_end | date: "%B %d" %}
{% assign pickup = site.schedule.pickup | ordinal %}
{% assign message = site.data.sale[site.sale_stage].home | replace: "[sale_start]", sale_start | replace: "[sale_end]", sale_end | replace: "[pickup]", pickup | replace: "[season_year]", site.dates.season_year | markdownify %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <div class="container mt-md-5">
    {% include header.html %}
    <div id="home" class="row g-0">
      <div class="col">
        <img class="float-end" src="/img/bfaw-girl.png" alt="BfaW girl" />
        <h1>Nearly New has Never Been Better!</h1>
        {{ message }}
      </div>
    </div>
    <div id="newsletter-signup" class="modal fade" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sign Up for Our Mailing List!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="https://madmimi.com/signups/subscribe/10324" method="post" class="mimi-form">
              <div class="mb-3">
                <input type="text" name="signup[email]" class="form-control mimi-field mimi-required" id="email" placeholder="Email">
              </div>
              <div class="mb-3">
                <input type="text" name="signup[name]" class="form-control mimi-field" id="name" placeholder="Name">
              </div>
              <input type="hidden" name="form_id" value="10324" />
              <input type="submit" value="Sign Up!" class="btn btn-primary text-end mimi-submit" />
              <span class="mimi-spinner"></span>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  <script id="mimi-main-js-extra">
    /* <![CDATA[ */
    var MadMimi = {
      "thankyou": "Thank you for signing up!",
      "thankyou_suppressed": "Thank you for signing up! Please check your email to confirm your subscription.",
      "oops": "Oops! There was a problem. Please try again.",
      "fix": "There was a problem. Please fill all required fields."
    };
    /* ]]> */
  </script>
</body>
</html>
