---
permalink: /
layout:
---

<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
  {% include head.html %}
</head>

<body>
  <title>Boutique For A Week </title>
  <div id="page">
    {% include header.html %}
    <div id="home">
      <div id="welcome_bg">
        <div style="clear: both;"></div>
        <img src="/img/welcome.png" alt="Boutique For A Week" width="826" height="473" border="0" usemap="#Map" />
        <map name="Map" id="Map">
          <area shape="rect" coords="3871,225,6995,237" href="#" alt="join us now!" />
        </map>
        <div id="welcome_text" class="has-text-align-center">
          <p>Our <a href="/events/">Fall 2021 Sale</a> runs September 15th through September 17th at <a href="/events/map-location/">Metro Life Church</a>!</p>
        </div>
      </div>
    </div>
    <div id="pum-5213"
      class="pum pum-overlay pum-theme-5202 pum-theme-default-theme popmake-overlay auto_open click_open"
      role="dialog" aria-hidden="true" aria-labelledby="pum_popup_title_5213">
      <div id="popmake-5213" class="pum-container popmake theme-5202 pum-responsive pum-responsive-small responsive size-small">
        <div id="pum_popup_title_5213" class="pum-title popmake-title">
          Sign Up for Our Mailing List! </div>
        <div class="pum-content popmake-content">
          <p style="text-align: center;">&nbsp;<img loading="lazy"
              src="/img/bfaw-logo-newsletter.png" width="250" height="153"
              align="middle" alt="Boutique for a Week logo" /></p>
          <div class="mimi-form-wrapper" id="form-10324">
            <form action="https://madmimi.com/signups/subscribe/10324" method="post" class="mimi-form">
              <p>
                <label for="form_4_signup[email]">
                  Email
                  <span class="required">*</span>
                </label>
                <input type="text" name="signup[email]" id="form_4_signup[email]" class="mimi-field mimi-required" />
              </p>
              <p>
                <label for="form_4_signup[name]">
                  Name
                </label>
                <input type="text" name="signup[name]" id="form_4_signup[name]" class="mimi-field" />
              </p>
              <input type="hidden" name="form_id" value="10324" />
              <input type="submit" value="Sign Up!" class="button mimi-submit" />
              <span class="mimi-spinner"></span>
            </form>
          </div>
        </div>
        <button type="button" class="pum-close popmake-close" aria-label="Close"> X </button>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script type="text/javascript" id="mimi-main-js-extra">
    /* <![CDATA[ */
    var MadMimi = {
      "thankyou": "Thank you for signing up!",
      "thankyou_suppressed": "Thank you for signing up! Please check your email to confirm your subscription.",
      "oops": "Oops! There was a problem. Please try again.",
      "fix": "There was a problem. Please fill all required fields."
    };
    /* ]]> */
  </script>
  <script type="text/javascript" src="/js/mimi.min.js" id="mimi-main-js"></script>
  <script type="text/javascript">
    var popup = document.getElementById('pum-5213');
    const popupCookie = document.cookie
      .split('; ')
      .find(row => row.startsWith('pum-5213='));

    if (!popupCookie) {
      // Show popup.
      popup.classList.add('show');
    }

    popup.addEventListener('click', function(e) {
      if (e.target.classList.contains('pum-close')) {
        // Hide popup and set cookie.
        popup.classList.remove('show');
        document.cookie = 'pum-5213=true';
      }
    }, false);

  </script>
  {% include footer.html %}
