---
title: "Welcome"
permalink: /
layout:
---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <div class="container mt-md-5">
    {% include header.html %}
    <div id="home" class="row">
      <div class="col">
        <div id="home_bg">
          <div id="welcome_bg">
            <div class="text-wrapper-outer">
              <div class="text-wrapper">
                <div class="text">
                  {{ site.data.sale[site.sale_stage].home | markdownify }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="newsletter-signup" class="modal fade" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sign Up for Our Mailing List!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="https://madmimi.com/signups/subscribe/10324" method="post" class="mimi-form">
              <div class="mb-3">
                <input type="text" name="signup[email]" class="form-control mimi-field mimi-required" id="email" placeholder="Email">
              </div>
              <div class="mb-3">
                <input type="text" name="signup[name]" class="form-control mimi-field" id="name" placeholder="Name">
              </div>
              <input type="hidden" name="form_id" value="10324" />
              <input type="submit" value="Sign Up!" class="btn btn-primary text-end mimi-submit" />
              <span class="mimi-spinner"></span>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  <script id="mimi-main-js-extra">
    /* <![CDATA[ */
    var MadMimi = {
      "thankyou": "Thank you for signing up!",
      "thankyou_suppressed": "Thank you for signing up! Please check your email to confirm your subscription.",
      "oops": "Oops! There was a problem. Please try again.",
      "fix": "There was a problem. Please fill all required fields."
    };
    /* ]]> */
  </script>
</body>
</html>
