<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
<div class="blog container mt-lg-5">
  {% include header.html %}
  <div class="row g-0">
    <div id="col_left" class="d-none d-lg-block col-lg-3 p-5">
      <h1>Blog</h1>
      <img src="/img/col_left_events.png" alt="blog section" class="img-fluid mt-5" />
    </div>
    <div id="col_right" class="col-12 col-lg-9">
      <div class="p-5">
        <h2>{{ page.title }}</h2>
        {{ content }}
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
{% include footer.html %}
</body>
</html>
