<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
<div id="page">
  {% include header.html %}
  <div class="main_body">
    <div id="col_left">
      <div id="sub_nav">
        {% if page.section != 'consignors' %}
        <img src="/img/{{ page.section }}_menu.png" alt="{{ menu }} header" width="195" height="38" />
        <ul>
          {% for item in site.data.menus[page.section] %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        {% assign menus = 'consignors,items_to_sell,pricing,drop_off_pick_up' | split: ',' %}
        {% for menu in menus %}
        <img src="/img/{{ menu }}_menu.png" alt="{{ menu }} header" width="195" height="38" />
        <ul>
          {% for item in site.data.menus[menu] %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
        {% endfor %}
        {% endif %}
      </div>
      <img src="{{ page.image }}" alt="{{ page.section }} section" width="276" height="487" style="margin-top:40px" />
    </div>
    <div id="col_right">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    </div>
    <div class="clear"></div>
</div>
{% include footer.html %}
</body>
</html>
