name: Build
on:
  push:
    branches: main
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  build:
    name: Jekyll build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '4.0.1'
          bundler-cache: true
          cache-version: 0
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: Run gulp
        run: |
          npm install
          gulp build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
      - name: Purge cache
        uses: fishmanlabs/cloudflare-purge-cache-action@v1
        with:
            zone_id: ${{ secrets.CLOUDFLARE_ZONE }}
            api_token: ${{ secrets.CLOUDFLARE_AUTH_KEY }}
            purge_everything: 'true'
            purge_hosts: |
              boutiqueforaweek.com
